[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Gish
Comment=A Shell for Git
StartupWMClass=Gish
Exec=/home/mistercode/programming/rust/gish/target/release/gish
Type=Application
Terminal=false
Icon=git
